<a href="https://colab.research.google.com/github/hachi8roku6/IzzatPortfolio/blob/master/Merge%2C_Join%2C_Concatenate_and_compare_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PANDAS (Merge, join, concatenate and compare)**

pandas provides various facilities for easily combining together Series or DataFrame with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

In [1]:
import pandas as pd

Select any data in table form that you want to do as example like below:

In [34]:
df1 = pd.DataFrame({"Week 1": ["A0", "A1", "A2", "A3"],
        "Week 2": ["B0", "B1", "B2", "B3"],
        "Week 3": ["C0", "C1", "C2", "C3"],
        "Week 4": ["D0", "D1", "D2", "D3"],}, index = ['Jan','Feb','Mac','Apr'],)

After that try to print out our data

In [35]:
print(df1)

    Week 1 Week 2 Week 3 Week 4
Jan     A0     B0     C0     D0
Feb     A1     B1     C1     D1
Mac     A2     B2     C2     D2
Apr     A3     B3     C3     D3

In [25]:
df2 = pd.DataFrame({"Week 1": ["A4", "A5", "A6", "A7"],
        "Week 2": ["B4", "B5", "B6", "B7"],
        "Week 3": ["C4", "C5", "C6", "C7"],
        "Week 4": ["D4", "D5", "D6", "D7"],}, index = ['May','Jun','July','Aug'],)

In [26]:
print(df2)

     Week 1 Week 2 Week 3 Week 4
May      A4     B4     C4     D4
Jun      A5     B5     C5     D5
July     A6     B6     C6     D6
Aug      A7     B7     C7     D7

In [27]:
df3 = pd.DataFrame({"Week 1": ["A8", "A9", "A10", "A11"],
        "Week 2": ["B8", "B9", "B10", "B11"],
        "Week 3": ["C8", "C9", "C10", "C11"],
        "Week 4": ["D8", "D9", "D10", "D11"],}, index = ['Sep','Oct','Nov','Dec'],)

In [28]:
print(df3)

    Week 1 Week 2 Week 3 Week 4
Sep     A8     B8     C8     D8
Oct     A9     B9     C9     D9
Nov    A10    B10    C10    D10
Dec    A11    B11    C11    D11

In [36]:
frames = [df1,df2,df3]

In [37]:
result = pd.concat(frames)

In [42]:
print(result)

       Week 1 Week 2 Week 3 Week 4
x Jan      A0     B0     C0     D0
  Feb      A1     B1     C1     D1
  Mac      A2     B2     C2     D2
  Apr      A3     B3     C3     D3
y May      A4     B4     C4     D4
  Jun      A5     B5     C5     D5
  July     A6     B6     C6     D6
  Aug      A7     B7     C7     D7
z Sep      A8     B8     C8     D8
  Oct      A9     B9     C9     D9
  Nov     A10    B10    C10    D10
  Dec     A11    B11    C11    D11

In [39]:
result = pd.concat(frames, keys=["x", "y", "z"])

In [40]:
print(result)

       Week 1 Week 2 Week 3 Week 4
x Jan      A0     B0     C0     D0
  Feb      A1     B1     C1     D1
  Mac      A2     B2     C2     D2
  Apr      A3     B3     C3     D3
y May      A4     B4     C4     D4
  Jun      A5     B5     C5     D5
  July     A6     B6     C6     D6
  Aug      A7     B7     C7     D7
z Sep      A8     B8     C8     D8
  Oct      A9     B9     C9     D9
  Nov     A10    B10    C10    D10
  Dec     A11    B11    C11    D11

In [46]:
result.loc["y"]

     Week 1 Week 2 Week 3 Week 4
May      A4     B4     C4     D4
Jun      A5     B5     C5     D5
July     A6     B6     C6     D6
Aug      A7     B7     C7     D7